<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yell</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <nav>
        <% if (user) { %>
          <a href="/logout" class="navi">Log out</a>
        <% } else { %>
          <a href="/auth/google" class="navi">Log in</a>
        <% } %>
        
        <a href="/" class="navi">Home</a>
        <a href="/posts" class="navi">All Posts</a>
      </nav>
      <h1>Yell</h1>