<%- include('./partials/header') %>


<h2>Enter a New Movie</h2>
<form action="/posts" method="POST">
  <label>Post:
    <input type="text" name="post">
  </label><br>

 

  <button type="submit">Add Movie</button>
</form>


  

<%- include('./partials/footer') %>