<%- include('../partials/header') %>

<h2>Yell</h2>
<form action="/tweets" method="POST">
    <label>
        <input type="text" name="title">
         </label><br>
</form>

<%- include('../partials/footer') %>
