<%- include('../partials/header') %>

<form action="/posts/<%= post.id %>?_method=PUT" method="POST" autocomplete="off">
    <label>Post</label>
    <input type="text" name="post" value="<%= post.post %>">
    <button type="submit">Submit</button>
</form>

<%- include('../partials/footer') %>